<!DOCTYPE html>
<html>
  <head>
    <title>SlackApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <% key = 'success' if key == 'notice' %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>

  <script>
    $(document).ready(function () {
      hsize = $(window).height();
      $("body").css("height", hsize + "px");
    });
    $(window).resize(function () {
      hsize = $(window).height();
      $("body").css("height", hsize + "px");
    });
  </script>
</html>
