<!DOCTYPE html>
<html>
  <head>
    <title>SlackApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
    <% else %>
      <p><%= link_to 'ログイン', new_user_session_path %>してください。</p>
      <p>アカウントを持っていない方は<%= link_to 'サインアップ', new_user_registration_path %>してください。</p>
    <% end %>
    <% flash.each do |key, value| %>
      <% key = 'success' if key == 'notice' %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
